.weather {
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .weather-box {
    background-color: greenyellow;
    height: 350px;
    width: 590px;
    .city-input {
      width: 100%;
    }
    .weather-info {
      width: 100%;
    }
  }
}
